/*
 * Copyright 2013-2016 Boundary Devices, Inc.
 * Copyright 2011-2015 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	iomuxc_imx6q_nitrogen6x: iomuxc-imx6q-nitrogen6xgrp {
		status = "okay";
	};
};

&iomuxc_imx6q_nitrogen6x {	
	
	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX        0x17059
			MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX	0x17059
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL4__FLEXCAN2_TX	0x17059
			MX6QDL_PAD_KEY_ROW4__FLEXCAN2_RX	0x17059
		>;
	};


	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6QDL_PAD_NANDF_CS0__GPIO6_IO11 0x80000000	//U29 LM4871 control
			MX6QDL_PAD_NANDF_CS1__GPIO6_IO14 0x80000000	//U30 LM4871 control
			MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x80000000	//buzzer
		    MX6QDL_PAD_DI0_PIN2__GPIO4_IO18 0x80000000	//feed_dog pin
			MX6QDL_PAD_DI0_PIN4__GPIO4_IO20 0x80000000	//enable pin
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT8__I2C1_SDA		0x4001b8b1
			MX6QDL_PAD_CSI0_DAT9__I2C1_SCL		0x4001b8b1
		>;
	};

	pinctrl_i2c3_adv7180_gpios: i2c3-adv7180_gpiosgrp {
		fsl,pins = <
			/* No data enable pin, make sure it is not selected */
			// MX6QDL_PAD_EIM_DA10__GPIO3_IO10		0x0b0b1
#define GP_ADV7180_PWN		<&gpio5 20 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20 0x80000000
		>;
	};

	pinctrl_i2c3_adv7180: i2c3-adv7180grp {
		/* parallel camera on CSI1, pins differ for iMX6Q/iMX6DL */
	};

	pinctrl_i2c3_adv7180_cea861: i2c3-adv7180_cea861grp {
		/* parallel camera on CSI1, pins differ for iMX6Q/iMX6DL */
	};

	pinctrl_i2c3_adv7180_no_cea861: i2c3-adv7180_no_cea861grp {
		
	};

	
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA	0x1b0b1
		>;
	};

        pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA       0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA       0x1b0b1
		>;
	};

        pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA       0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA       0x1b0b1
		>;
	};

	
	pinctrl_usdhc4: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
			MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
			MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
			MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
			MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
		>;
	};
};

/ {
	aliases {
		fb_lvds = &fb_lvds;
		ldb = &ldb;
		mmc3 = &usdhc4;
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		mxcfb0 = &fb_lvds;

		can0 = &can1;
		can1 = &can2;
		i2c0 = &i2c1;
	};
	
	/*
	backlight_lcd: backlight_lcd {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&fb_lcd>;
		power-supply = <&reg_3p3v>;
		pwms = <&pwm1 0 5000000>;
		status = "disabled";
	};

	backlight_lvds: backlight_lvds {
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&fb_lvds>;
		power-supply = <&reg_3p3v>;
		pwms = <&pwm4 0 5000000>;
		status = "disabled";
	};
	*/

	/* bluetooth */
	/*bt_rfkill {
		compatible = "net,rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_rfkill>;
		name = "bt_rfkill";
		type = <2>;	
		reset-gpios = GP_BT_RFKILL_RESET;
	};*/

	chosen {
		stdout-path = &uart1;
		bootargs="noinitrd console=ttymxc0,115200 root=/dev/mmcblk3p2 rootwait ro quiet";
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	fb_lvds: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x720M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	/*
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		back {
			label = "Back";
			gpios = GP_GPIOKEY_BACK;
			linux,code = <KEY_BACK>;
		};

		home {
			label = "Home";
			gpios = GP_GPIOKEY_HOME;
			linux,code = <KEY_HOMEPAGE>;
		};

		menu {
			label = "Menu";
			gpios = GP_GPIOKEY_MENU;
			linux,code = <KEY_MENU>;
		};

		power {
			label = "Power Button";
			gpios = GP_GPIOKEY_POWER;
			linux,code = <KEY_POWER>;
			gpio-key,wakeup;
		};

		volume-down {
			label = "Volume Down";
			gpios = GP_GPIOKEY_VOL_DN;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volume-up {
			label = "Volume Up";
			gpios = GP_GPIOKEY_VOL_UP;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	lcd: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB666";
		pinctrl-names = "default", "rgb24";
		pinctrl-0 = <&pinctrl_lcd0_rgb>;
		pinctrl-1 = <&pinctrl_lcd0_rgb &pinctrl_lcd0_rgb24>;
		status = "okay";
	};*/

	battery: max8903@0 {
		compatible = "fsl,max8903-charger";
		pinctrl-names = "default";
		dok_input = <&gpio2 24 1>;
		uok_input = <&gpio1 27 1>;
		chg_input = <&gpio3 23 1>;
		flt_input = <&gpio5 2 1>;
		fsl,dcm_always_high;
		fsl,dc_valid;
		fsl,usb_valid;
		status = "okay";
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	watchdog {
		compatible = "qiyang,qiyang_watchdog";
		feed-gpios = <&gpio4 18 0>;
		enable-gpios = <&gpio4 20 0>;
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};


	};

	sound {
		compatible = "fsl,imx-audio-tlv320aic3x",
			 "fsl,imx-audio-tlv320aic3x";
		model = "tlv320aic3x-audio";
		cpu-dai = <&ssi1>;
		//audio-codec = <&codec>;
		asrc-controller = <&asrc>;
		audio-routing =
				"Headphone Jack", "HPOUTL",
				"Headphone Jack", "HPOUTR",
			"Ext Spk", "SPKOUTL",
				"Ext Spk", "SPKOUTR",
				"AMIC", "MICBIAS",
				"IN3R", "AMIC",
				"DMIC", "MICBIAS",
				"DMICDAT", "DMIC",
				"CPU-Playback", "ASRC-Playback",
				"Playback", "CPU-Playback",
				"ASRC-Capture", "CPU-Capture",
				"CPU-Capture", "Capture";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	sound-hdmi-input {
		status = "disabled";
	};

	v4l2_cap_0: v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1: v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2: v4l2_cap_2 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_3: v4l2_cap_3 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&audmux {
	status = "disabled";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&ecspi1 {
	status = "disabled";

};

&fec {
	status = "disabled";
};

&hdmi_audio {
	status = "disabled";
};

&hdmi_core {
	status = "disabled";
};

&hdmi_video {
	status = "disabled";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	adv7180: adv7180@20 {
		compatible = "adv,adv7180";
		reg = <0x20>;
		pinctrl-names = "default", "no_cea861", "cea861";
		pinctrl-0 = <&pinctrl_i2c3_adv7180 &pinctrl_i2c3_adv7180_gpios>;
		pinctrl-1 = <&pinctrl_i2c3_adv7180_no_cea861>;
		pinctrl-2 = <&pinctrl_i2c3_adv7180_cea861>;
		cea861 = <0>;
		DOVDD-supply = <&reg_3p3v>; /* 3.3v, enabled via 2.8 VGEN6 */
		AVDD-supply = <&reg_3p3v>;  /* 1.8v */
		DVDD-supply = <&reg_3p3v>;  /* 1.8v */
		PVDD-supply = <&reg_3p3v>;  /* 1.8v */
		pwn-gpios = GP_ADV7180_PWN;
		csi_id = <1>;
		//mclk = <28636300>;
		mclk = <24000000>;
		mclk_source = <0>;
		cvbs = <1>;
	};
};

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&ldb {
	status = "okay";
	split-mode;

	lvds-channel@0 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: dj123ia {
				clock-frequency = <44100000>;
				hactive = <1920>;
				vactive = <720>;
				hback-porch = <18>;
				hfront-porch = <14>;
				vback-porch = <11>;
				vfront-porch = <10>;
				hsync-len = <22>;
				vsync-len = <1>;

				/*clock-frequency = <44100000>;
				hactive = <1920>;
				vactive = <720>;
				hback-porch = <18>;
				hfront-porch = <14>;
				vback-porch = <11>;
				vfront-porch = <10>;
				hsync-len = <22>;
				vsync-len = <1>;*/
			};
		};
	};
};

&mipi_csi {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

&pwm1 {
	status = "disabled";
};

&pwm3 {
	status = "disabled";
};

&pwm4 {
	status = "disabled";
};

&ssi1 {
	status = "disabled";
};

&ssi2 {
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&usbh1 {
	status = "disabled";
};

&usbotg {
	status = "disabled";
};

&usdhc2 {	/* uSDHC2, TiWi wl1271 */
	status = "disabled";
};

&usdhc3 {
	status = "disabled";
};


&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend; 
	status = "okay";
};
